.carrousel {
    width : 100%;
    height : 100%;
    top:50px;
    left:0;
    position : fixed;
    background-color: antiquewhite;
    transform : scale(0);
    transition : transform .5s;
    @media screen and (min-width:720px) {
        width : 50%;
        height : 50%;
        top:25%;
        left:25%;
    }
 
}
.carrousel__ouvrir{
    margin-left: 50%;
    width: 150px;
    height: 70px;
    border-radius: 0.5rem;
    background-color:antiquewhite ;
    border: none;
    box-shadow: 0px -5px 14px 7px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
.carrousel__ouvrir:hover{
    color: aliceblue;
    background-color:rgb(69, 65, 59) ;

}
.carrousel__x{

    border: none;
    position: absolute;
    top:4%;
    right: 2%;
    z-index: 3;
    padding:0.4rem;
    border-radius: 50%;
    color: #485740;
    background-color: #8ca87c61;

}
.carrousel__figure{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.carrousel__img{
    position: absolute;
    top: 0;
    left:0;
    object-fit: cover;
    width: 100%;
    height:100%;  
    opacity: 0;
    transform: opacity .5s;
}
.carrousel__img--activer{
    opacity: 1;
}
.carrousel--activer {
    transform : scale(1);
}
.carrousel__form{
    position: absolute;
    bottom:0;
    text-align: center;
    width: 100%;
    background-color: #8ca87c61;
}
.carrousel__rad{
    display: inline-block;
    margin: 5px;
    accent-color: #8CA87C;
}

.flechDroite {
    z-index: 5;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top:50%;
    right: 2%;
    transform: rotate(-45deg);
  }
  .flechGauche {
    z-index: 5;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top:50%;
    left: 2%;
    transform: rotate(135deg);
  }